body {
  margin:0;
  font-family: Helvetica; san-serif;
  color:seashell;
  font-size: 22px;
}
Header {
  display: flex;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  z-index: 5;
}

.logo {
  padding-left: 10px;
  flex-grow: 1;
  opacity: .9;
}
.navi {
  text-decoration: underline;
  color: seashell;
  opacity: .9;
  padding: 10px;
}

.main {
  position:relative;
  top:70px;
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: black;
}

.mission {
  display:flex;
  height: 700px;
  width: 1200px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-size:cover;
}

.mission_statement {
  width:100%;
  background-color: black;
  align-self: center;
}

.ToMonth {
  text-align:center;
}

.featured {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 10px 15px;
}
.tea img {
  height: 200px;
  width: 300px;
}

.tea h4 {
  margin-top: 0px;
}
